.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    padding: 1ch;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    position: relative;
    border: 0.25ch solid black;
}

.delete-checkbox{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1ch;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2ch;
}