Options +FollowSymLinks +MultiViews
RewriteEngine On
RewriteBase /scandiweb-ps/

RewriteRule ^resources/views/(.+)\.php$ $1 [L,NC,R=302]

RewriteCond %{DOCUMENT_ROOT}/scandiweb-ps/resources/views/$1.php -f
RewriteRule ^(.+?)/?$ resources/views/$1.php [END]