html,
body {
  font-family: "Open Sans", sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    padding: 1ch;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    position: relative;
    border: 0.25ch solid black;
    transition: transform 150ms ease-in-out;
    -webkit-transition: transform 150ms ease-in-out;
    -moz-transition: transform 150ms ease-in-out;
    -ms-transition: transform 150ms ease-in-out;
    -o-transition: transform 150ms ease-in-out;
}

.card:hover{
    border: 0.25ch solid red;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.35));
    transform: scale(103%);
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
}

.delete-checkbox{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1ch;
}

.title{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 2ch;
}

.hide{
    display: none;
    margin: 0 !important;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    height: auto;
    padding: 1ch;
    justify-self: center;
}

.form-item{
    display: flex;
    flex-direction: column;
    margin: 1ch;
}

.btn-size{
    width: 14ch;
}

.description{
    font-size: 10%;
    size: 10%;
}